.ui-header .ui-title {
    background:url(https://d1nhstnts0iwzs.cloudfront.net/assets/eet-nu/logo-de30a27783a298b1ba62b6e137674c48.png) no-repeat 0 0;
    height:30px;
    text-indent: -9999em;
    width: 100px;
    padding:5px !important;
    font-size: 1em;
	min-height: 1.1em;
	text-align: center;
	display: block;
	margin: 0 35%;
	margin-top:5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
}

#save { float: right;}

#images img { max-height: 300px;}
#images { text-align: center; min-height: 100px; }

#ratings { margin-bottom: 1em; }

#opentime td { position: relative; }

#lnkPanelMenu {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#opentime .ui-btn-icon-notext {
    margin-left: 15px;
}
.error {
    width:200px;
    height:20px;
    height:auto;
    position:absolute;
    left:50%;
    margin-left:-100px;
    bottom:10px;
    background-color: #383838;
    color: #F0F0F0;
    font-family: Calibri;
    font-size: 20px;
    padding:10px;
    text-align:center;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
    box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}